* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: green;
    color: white;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-photo {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: green;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 40px;
}

.logout {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.doctor-card {
    background-color:red;
    color: white;
}

.patient-card {
    background-color:orange;
    color: white;
}

.appointment-card {
    background-color: rgb(22, 213, 48);
    color: white;
}

.tables {
    display: flex;
    justify-content: space-between;
}

.table {
    width: 49%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

table th {
    text-align: center;
    background-color:rgb(40, 145, 230);
    color: white;
}
